<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
</head>
<body>
    <main class="container">
        <h1>Job Scrapper</h1>
        <h4>Search for a job</h4>
        <form action="/search">
            <label for="jobSearchBar">Search jobs</label>
            <input type="text" name="searchWord" id="jobSearchbar" placeholder="enter a keyword" />
            <button type="submit">Submit</button>
        </form>
    </main>
</body>
</html>