<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@picocss/pico@1/css/pico.min.css">
</head>
<body>
    <main class="container">
        <h2>Search Results</h2>
        <a target="_blank" href="/export?searchWord={{searchWord}}">Export {{searchWord}} to File</a>
        <table role="grid">
            <thead>
                <tr>
                    <th>Position</th>
                    <th>Company</th>
                    <th>Location</th>
                    <th>Link</th>
                </tr>
            </thead>
            <tbody>
                {% for job in jobs %}
                <tr>
                    <td>{{job["title"]}}</td>
                    <td>{{job.company}}</td>
                    <td>{{job.location}}</td>
                    <td><a href="{{job.link}}" target="_blank">Apply Now &rarr;</a></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </main>
</body>
</html>